[submodule "todo-js"]
	path = todo-js
	url = https://github.com/wavejs/todo-js.git
[submodule "jquery-dropdown"]
	path = jquery-dropdown
	url = https://github.com/Jangharyeon/jquery-dropdown.git
[submodule "jquery-ellipsis"]
	path = jquery-ellipsis
	url = https://github.com/Jangharyeon/jquery-ellipsis.git
