@charset 'UTF-8';

// Core Variables and Mixins
@import 'import/core/variables';
@import 'import/core/mixin';

// Web font
@import 'import/web-fonts/noto-sans';

// Global style
@import 'import/global/normalize';
@import 'import/global/add-reset';
@import 'import/global/scaffolding';
@import 'import/global/utilities-class';

// UI Kit

// Common style
@import 'import/common/layout';

// Pages style
.ex.example {
	position:relative;
	padding:45px 15px 15px;
	border:1px solid #ccc;
	background-color:#fff;
}
.ex.example:before {
	position:absolute;
	top:15px;
	left:15px;
	font-weight:bold;
	font-size:12px;
	color:#666;
	content:'EXAMPLE';
}